:root,
[data-bs-theme="dark"],
[data-bs-theme="light"] {
    --bs-primary-text-emphasis: #362121;
    --bs-secondary: #D2691E;
        --bs-secondary-rgb: 210, 105, 30;
    --bs-dark: #4b2e2d;
    --bs-dark-rgb: 75, 46, 45;
    --bs-emphasis-color: #fff;
    --bs-emphasis-color-rgb: #fff;
    --bs-light: #f5f5dc;
    --bs-light-rgb: 245, 245, 220;
    --bs-body-bg: #F5F5DC;
    --bs-bg-bottom-recipe-header: #ECECD1;
        --bs-gradient: linear-gradient(to bottom, var(--bs-body-bg), var(--bs-bg-bottom-recipe-header));
}

body {
    font-family: "Roboto", sans-serif;
}
.nav-link {
    color: var(--bs-emphasis-color);
}

.btn-light {
    background-color: var(--bs-light);
    color: var(--bs-primary-text-emphasis);
}

.offcanvas {
    background-color: var(--bs-dark);
}

.navbar {
    --bs-navbar-toggler-border-color: var(--bs-emphasis-color);

    .form-control::placeholder {
        color: var(--bs-emphasis-color);
    }

    .form-control {
        background-color: var(--bs-dark);
        color: var(--bs-emphasis-color);
    }
}
.search-results {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bs-dark);
    z-index: 1000;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 0.5rem;
    padding: 1rem;
}
.recipe-header-container {
    padding: 0 6rem;
    position: relative;
}
.recipe-image {
    width: 100%;
        max-height: 580px;
    object-fit: cover;
}

.recipe-image-superposition {
    position: absolute;
    bottom: 50%;
        right: 40%;
        transform: translate(50%, 50%);
        width: 100%;
        max-height: 580px;
        object-fit: contain;
        opacity: 0.7;
}

h1 {
    font-size: 3.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: var(--bs-primary-text-emphasis);
}

.card-title {
    color: var(--bs-primary-text-emphasis);
}

.card-body {
    color: var(--bs-primary-text-emphasis);
}

.recipe-header {
    background: var(--bs-gradient);
}

.recipe-ingredients,
.recipe-steps {
    padding: 1.5rem 0;
}
.recipe-ingredients-title {
    margin-top: 1.5rem;
}

.ingredient-checkbox {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1.25rem;
    margin-right: 1.25rem;

}

.form-check-input,
.form-control {
    &:checked {
        background-color: var(--bs-secondary);
        border-color: var(--bs-secondary);
    }

    &:focus {
        box-shadow: 0 0 0 0.25rem rgba(var(--bs-secondary-rgb), 0.25);
        border-color: var(--bs-secondary);
    }
}